
#home{
    background: rgb(66, 5, 248);
    background :linear-gradient(90deg,rgba(68, 143, 255, 0.97) 50%, rgb(255, 255, 8)100%);
    min-height: 500px;
}
.form{
    background: rgb(0, 0, 0);
    background :linear-gradient(90deg,rgb(32, 109, 241) 50%, rgb(170, 247, 246)100%);
    
}
#gamming{
    padding: 5rem 7rem ;
    display: flex;
    height: 500px;
    background :linear-gradient(90deg,rgb(79, 79, 78) 50%, rgb(0, 0, 0)100%);
    
}
#gamming-2{
    display: flex;
    padding: 5rem 7rem;
    height: 500px;
    background :linear-gradient(90deg,rgb(42, 3, 168) 50%, rgb(255, 255, 255)100%);
}
.vert-move{
    height: 300px;
 
}

img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.note{
    padding: 2rem 4rem;
}
h3{
    color: yellow;
}
p{
    color: #fff;
}
.btn1{
    text-align: end;
}
#message{
   padding: 5rem 25rem ;
}
.img{
    width: 100%;
    height: 70vh;
    padding: 2rem;
}
#footer{
    display: flex;
    background :linear-gradient(90deg,rgb(79, 79, 78) 50%, rgb(0, 0, 0)100%);
    padding: 2rem;
    justify-content: space-between;
}
.left{
    padding-left: 5rem;
}
.fortnite{
    padding-left: 10rem;
    font-size: 4rem; 
    color: #fff;
}
@media screen and (max-width: 990px) {
    #message{
        padding: 5rem 8rem ;
     }
  }